@import 'taiwindcss';
body {
  background-color: #fcfdfe; /* Very light blue-white */
  color: #1e293b; /* Slate 800 */
}

/* Make the scrollbar thin and blue */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}